<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>money</key>
		<integer>0</integer>
		<key>accountName</key>
		<string>现金</string>
	</dict>
  <dict>
    <key>money</key>
    <integer>0</integer>
    <key>accountName</key>
    <string>储蓄卡</string>
  </dict>
  <dict>
    <key>money</key>
    <integer>0</integer>
    <key>accountName</key>
    <string>信用卡</string>
  </dict>
  <dict>
    <key>money</key>
    <integer>0</integer>
    <key>accountName</key>
    <string>支付宝</string>
  </dict>
</array>
</plist>
