<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>9361A2</string>
	<string>AB92ED</string>
	<string>5B7ED5</string>
	<string>5D9CEC</string>
	<string>519DDD</string>
	<string>2FB2E8</string>
	<string>45BDB3</string>
	<string>45BC80</string>
	<string>9FBD45</string>
	<string>F3BD5D</string>
	<string>F3955D</string>
	<string>EA7067</string>
	<string>EC87BF</string>
</array>
</plist>
